<h1>DOOM</h1>
<h2>Nasos</h2>
<h3>FFT</h3>
<p>Объясняю, почему то, что я продал 6-летнюю Спотыкушку работорговцам это топ решение

Во-первых, жители Литтл Лемплайта практически гарантированно умирают, после того как покинут своё убежище. По достижении 16-ти лет, они либо отправляются в Большой город, который 24 на 7 трахают супермутанты, либо сходят с ума и беспробудно бухают в Ривет-сити, либо их отлавливают и жрут поехавшие каннибалы из Андейла. Парадиз-Фоллз же одно из самых безопасных поселений на пустоши. Рейдеры, живущие в нём, настолько сильны, что даже смогли захватить в плен гигантского супермутанта.

Во-вторых, Спотыкушка продается не абы кому в Парадиз-Фоллз, а самому Гробовщику - главарю этого прекрасного, достойного рабовладельческого поселения. Мало того, что он самый крутой и пиздатый чувак и его бесконечно все уважают, так и даже его личные рабыни нападут на тебя, если ты посмеешь направить на него оружие. Если даже раб вот так вот готов заступаться за своего хозяина, то это о многом говорит, хотя бы о его высочайшем качестве жизни.

Разумеется, слепые идеалисты хотели бы самого наилучшего будущего для Спотыкушки. И чтобы она хорошо устроилась в мире и чтобы нашла безопасное место для проживания и чтобы у неё было много денег и чтобы ни от кого не зависела - но мир не делится на черное и белое и в суровых условиях Фаллаута 3 такой жизни ни у кого не бывает. В этом разрушенным войной, жестоком мире столичной пустоши жизнь не сахар и все выживают как могут. Наша же героиня отправляется в самый настоящий островок безопасности, на не самую плохую должность, где у неё до самой смерти будет достаточное количество еды и воды.

Хорошей тебе жизни, Спотыкушка</p>
<p>А еще хочу порекомендовать просто ахуенную индюшатину Keep Driving

Очень ламповая игрушка, где надо кататься на машине, прокачивать её, закупаться жратвой, сигаретами, жвачками и бензином, и слушать балдежную музыку, по ходу подбирая попутчиков

Жаль только, что хоть это и рогалик, но полностью закрывается максимум за 10-15 часов, а хочется играц ещё и ещё</p>
<a href="https://www.youtube.com/watch?v=LMzAssOr2zE">Netharland be like</a>